.btn {
  height: 3rem;
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
  padding-top: 0.2rem;
  border: transparent;
  border-radius: 0.2rem;
}
.btn_container {
  padding: 1.7rem;
}
